{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title%}{% endblock%}</title>
    <img src="" alt="">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jockey+One&display=swap">

</head>
<body>
    <header class="header">
        <div class="header__logo">
            <img  src="{% static 'main/img/sticky-notes.png' %}" alt="Главная" >
            <span class="logo__text">Dodje</span>
        </div>
        <ul1 class="entrance">
            <a><li>Вход</li></a>
        </ul1>
        <ul2 class="registration">
            <a><li>Регистрация</li></a>
        </ul2>
    </header>

{% block content %}
{% endblock %}
<script src="{% static 'main/js/main.js' %}"></script>
</body>
</html>

